.listitem{
    display: flex;
    background-color: blanchedalmond;
    justify-content: space-between;
    color: black;
    margin: auto;
    margin-bottom: 10px;
    height: 25px;
    border-radius: 5px; 
    
}
.listview{
    border-radius: 5px;
    background-color: blanchedalmond;
    height: 25px;
        
    
}
.delete{
    border-radius: 5px;
    height: 25px;
    
}