.titles {
    font-family: cursive;
    text-align: center;
    color: cornsilk;
  }
  .body {
    background-color: #4292e7;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
  }
  .maintitle {
    padding-bottom: 10px;
    size: 50px;
  }
  .addTitle {
    padding-bottom: 10px;
    size: 50px;
  }
  .add {
      
      border-radius: 10px;
      color: floralwhite;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;
      height: 35px;
      background-color: rgb(53, 130, 194);
  
    
  }
  .textField {
    border-radius: 5px;
    height: 25px;
    box-shadow: 2px 2px 2px #888888;
  
    
  }
  